run = "python main.py"
entrypoint = "main.py"
modules = ["web", "python-3.12", "nodejs-20"]

[nix]
channel = "stable-25_05"
packages = ["cargo", "freetype", "glibcLocales", "lcms2", "libiconv", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "psmisc", "rustc", "tcl", "tk", "zlib"]

[deployment]
run = ["python", "main.py"]
build = ["pip", "install", "-r", "requirements.txt"]

[[ports]]
localPort = 8080
externalPort = 80

[agent]
expertMode = true
