run = "python main.py"
entrypoint = "main.py"
modules = ["nodejs-20", "python-3.10"]

[nix]
channel = "stable-22_11"
packages = ["cargo", "glibcLocales", "libiconv", "libxcrypt", "psmisc", "rustc"]

[deployment]
run = ["python", "main.py"]
build = ["pip", "install", "-r", "requirements.txt"]

[[ports]]
localPort = 8080
externalPort = 80

[agent]
expertMode = true
