fastapi
uvicorn
sqlalchemy
jinja2
httpx
openai
upstash-redis
python-multipart
python-dotenv
itsdangerous
starlette
bcrypt==3.2.0
passlib[bcrypt]
requests
pandas
pydantic[email]
email-validator
feedparser
PyGithub
python-jose[cryptography]
gnews
trafilatura
bcrypt==3.2.0
email-validator
fastapi
feedparser
gnews
httpx
itsdangerous
jinja2
openai
pandas
passlib[bcrypt]
pydantic[email]
PyGithub
python-dotenv
python-jose[cryptography]
python-multipart
requests
sqlalchemy
starlette
trafilatura
upstash-redis
uvicorn
